.login-form {
  span {
    color: #0060ae;
    font-weight: 800;
    font-size: 14px;
    margin: 16px 0;
    display: block;
  }
}

.login-row {
  height: 100%;
}

.login-left-col {
  background-image: url("../assets/images/login-bg.jpg");
  background-size: cover;
}

.login-right-col {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-right-col-inner-container {
  width: 50%;

  p {
    color: #035fad;
    cursor: pointer;
    font-weight: 600;
  }
}

.span-text {
  margin-top: 50px;
  cursor: pointer;
  color: #035fad;
  font-weight: 600;
}

.login-input {
  .MuiInputBase-root {
    background-color: #fff !important;
  }
}

@media screen and (max-width: 992px) {
  .login-left-col {
    display: none;
  }
  .login-right-col-inner-container {
    width: 90%;
  }
}
